@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}
h1,
h2,
h3,
h4,
p,
a {
  color: #2d2e32;
}
a {
  text-decoration: none;
}
.black {
  color: #2d2e32;
}
.white {
  color: white;
}
.small {
  font-size: 20px;
}
.md {
  font-size: 30px;
}
.hover:hover {
  color: #0f0f0f;
}
.big-header {
  color: #2d2e32;
  font-size: 45px;
  font-weight: 1000;
}
.md-header {
  font-size: 30px;
}
.description {
  color: #555;
  font-size: 18px;
}
.description span {
  font-weight: 600;
  color: rgb(15, 161, 71);
}
h3 span {
  font-weight: 600;
  color: rgb(15, 161, 71);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}
.header {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cover {
  width: 40%;
  min-width: 380px;
}
.cover img {
  height: 100%;
  width: 100%;
}
.links {
  display: flex;
  gap: 25px;
}
.links a {
  cursor: pointer;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.navbar .logo {
  font-size: 25px;
}
.navbar .logo span {
  font-size: 20px;
  font-weight: 400;
}
.navbar .nav-icon {
  cursor: pointer;
  font-size: 25px;
  display: none;
}
.navbar .nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.nav a {
  font-size: 14px;
}
.nav a:hover {
  font-weight: 600;
}
.home {
  padding: 80px 40px;
}
.skills {
  text-align: center;
  padding: 80px 10px;
}
.skills .skill-icons {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.skill-icons h3 {
  text-decoration: underline;
}
.skill-icons .icons {
  display: flex;
  gap: 25px;
  align-items: center;
}
.skill-icons .icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.skill-icons .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about {
  background-color: white;
  padding: 80px;
}
.footer .footer-top {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
}
.footer-top h3 {
  font-size: 16px;
  color: rgb(15, 161, 71);
}
.footer-top p {
  font-size: 17px;
  font-weight: 600;
}
.footer-top .contact {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.contact .contact-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contact-box .box-icon .fa {
  color: lightseagreen;
  font-size: 16px;
  border-radius: 100%;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  padding: 6px;
}
.contact-box .box-dec {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.box-dec h4 {
  font-size: 14px;
}
.box-dec a {
  font-size: 13px;
  color: #555;
}
.footer .copy-right {
  background-color: #2d2e32;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.footer .copy-right p {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
@media only screen and (max-width: 920px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
}
@media only screen and (max-width: 780px) {
  .about,
  .home {
    padding: 60px 20px;
  }
  .cover {
    width: 70%;
  }

  .navbar .nav {
    transition: left 0.2s ease-in-out;
    position: absolute;
    padding: 20px;
    top: 68px;
    left: -100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    min-height: 90vh;
  }
  .navbar .min-nav {
    left: 0;
  }
  .navbar .nav li {
    font-size: 18px;
  }
  .navbar .nav-icon {
    display: block;
  }
  .skills .skill-icons {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .cover {
    width: 100%;
    min-width: 250px;
  }
  .big-header {
    font-size: 45px;
  }
  .description {
    font-size: 16px;
  }
  .skill-icons .icon {
    width: 40px;
    height: 40px;
  }
  .skill-icons .icons {
    gap: 20px;
  }
}
@media only screen and (max-width: 300px) {
  .cover {
    min-width: 200px;
  }
  .description {
    font-size: 15px;
  }
  .skill-icons .icon {
    width: 28px;
    height: 28px;
  }
  .skill-icons .icons {
    gap: 15px;
  }
  .contact .contact-box {
    flex-direction: column;
    align-items: flex-start;
  }
}
